[submodule "themes/fluid"]
	path = themes/fluid
	url = https://github.com/askxue/hexo-theme-fluid.git
[submodule "themes/butterfly"]
	path = themes/butterfly
	url = https://github.com/askxue/hexo-theme-butterfly.git
